/* ##### POSTS ##### */
.card {
	width: 50rem;
}

.img-post {
	width: 75px;
	height: 75px;
	margin: 0px;
}

.img-sm {
	width: 40px;
	height: 40px;
}

.justify-content-center {
	margin-top: 30px;
}

.reply-box {
	border-radius: 20px;
	background-color: #f0f2f5;
}

.replyes-ul {
	display: flex;
	list-style: none;
	flex-direction: row;
}

.reply-btn {
	margin-right: 20px;
}