html body {
	background-color: #d0facf;
}

/* ##### NAVBAR ##### */
.profile-img-nav {
	height: 40px;
	width: 40px;
}

.list {
	list-style: none;
	margin: 6px;
}

.btn-login {
	background-color: #5fde40;
	padding: 6px;
	width: 135px;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	border-radius: 30px;
}

.btn-signup {
	background-color: #e5e5e5;
	padding: 6px;
	width: 135px;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	border-radius: 30px;
	color: #644f4f;
}

/* ##### SLIDER ##### */
.container-slider {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f9f9f9;
	height: 20vh;
}

.horizontal-scroll {
	width: 800px;
	height: 125px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	position: relative;
	overflow: hidden;
}

.story-container {
	display: flex;
	justify-content: flex-start;
	padding: 5px;
	margin: 5px;
	align-items: center;
	position: absolute;
	left: 0;
	transition: 0.5s all ease-out;
}

.story-circle {
	background-color: linear-gradiant(rgb(231, 0, 231), rgb(255, 115, 0));	
	width: 100px;
	height: 100px;
	margin: 0px;
	display: block;
	text-align: center;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.story-text p {
	text-align: center;
}

.story-circle img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 2px solid #fff;
}

.horizontal-scroll .btn-scroll {
	background-color: #fff;
	box-shadow: 0 0 10px #999;
	color: #999;
	border: 0px;
	border-radius: 50%;
	margin: 0px 5px;
	z-index: 1;
	cursor: pointer;
	transition: 1s;
}

/* ##### POSTS ##### */
.img-post {
	width: 50px;
}

.card-img-bottom {
	width: 50px;
	height: 50px;
}